{% if children %}
	<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
		<div class="container-fluid">
			<div class="row">
				<div class="left-content">
					{{ children }}
				</div>
			</div>
		</div>
	</div>
{% endif %}
