@media (min-width: 641px){
  ul.menupooledamin > li > a{    white-space: normal;
    i + span{display: block;    padding-left: 24px;}
    i{float: none;    position: absolute;    top: 30%;}
  }
  .page-container.sidebar-collapsed{
    .menupooledamin li > a i {position: relative;}
  }
}
///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
@media ( min-width : 768px) {
  
}
///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
@media ( min-width : 1025px) {
  body.logged-in.admin-menu{
   .sidebar-menu{    margin-top: 39px;}
   .left-content{margin-top: 10px;}
  }
}
///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 1280px) and ( min-width : 1025px) {
  .left-content, .page-container.sidebar-collapsed-back .left-content {width: 80%;
    .user-name{     position: absolute;    margin-left: 28%;     top: 0;    bottom: 0;}
  }
}
///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
@media ( max-width : 975px) {
  
}
///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
@media ( max-width : 991px) {
  
}

///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
@media ( max-width : 767px) {
  
  
}
///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 736px){
  body.logged-in.admin-menu{
    .sidebar-menu{margin-top: 0px;}
  }
}
///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 640px){
  body .well .block-title{    opacity: 0;    transition: all 50ms linear;    display: none;    margin-left: 10px;}
  .menupooledamin span{display: none;}
  .header-main{
    
    .w3layouts-right{
      .nofitications-dropdown{
        > li{padding-right: 5%;}
      }
    }
  }
  ul.menupooledamin i{float: none;}
  .page-container.sidebar-collapsed .menupooledamin span{ 
      position: relative !important;
      span.fa {    padding-left: 15px;}
  }
}
///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
@media ( max-width : 575px) {
    #admin-menu-wrapper #admin-menu-menu > li{    width: auto;    display: inline-block; width:100%;   float: none !important; position: relative;
        >a{padding: 10px 20px !important; border-radius: 0px;}
        >a.active-trail , >a.active{ background: rgba(44, 50, 90, 0.3);}
        ul{top:0; margin-left:150px;
            li{    background: #526c82 !important;}
        }
    }
    
}
 
@media (max-width: 384px){
    .left-content {        width: 83%;        padding: 0 1em;    }
    .left-content .outter-wp{    padding: 0;}
    .page-container.sidebar-collapsed{
        .sidebar-menu {width: 85%;}
    }
}







