///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
@media ( max-width : 609px) {
  
}
///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
@media ( min-width : 768px) {
   header.principal{  
    section.masthead{padding: 30px 0;}
  }
}
///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
@media ( max-width : 975px) {
}
///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
@media ( max-width : 991px) {
  #block-unpartenairedelongueroute{
    .herotexte{padding: 100px 0 80px 0;}
  }
section.masthead{background-position: 69% center;}
  body.path-frontpage {
    section.masthead .intro-text .intro-lead-in{font-size: 1.6em;line-height: 125%;}
    section.masthead .intro-text .intro-heading{font-size: 3.2em; line-height: 125%;}
  }
  #block-siteaveclekit {
    .heroimg img{ max-width: 700px; }
  }
  
}
///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
@media ( max-width : 767px) {
  section.masthead{background-position: 70% center;}
  body.path-frontpage {
    section.masthead .intro-text .intro-lead-in{font-size: 1.4em;}
    section.masthead .intro-text .intro-heading{font-size: 2.5em;}
  }
}
///////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
@media ( max-width : 575px) {
  #block-presentationservice .heroimg > div{    max-width: 350px;    height: auto;    justify-content: left;
      img{width: 100%; height: auto;}
  }
}









