
  	

  	
	

<div class="user-login-form-wrapper "> 
<h2 class="title-Big">{{ ' Créer votre compte '|t }}<i class="fas fa-level-down-alt"></i></h2>
		<div class="body">
				<div class="content">
						{{ drupal_render_children(form) }}
				</div>
		
		</div>
		<div class="piedbloc">
		</div>
		
 
</div>



