<h2 class="title-Big">
	{{ 'Réinitialiser votre mot de passe'|t }}
	<i class="fas fa-level-down-alt"></i>
</h2>
<div class="user-login-form-wrapper password">
	<div class="body">
		<div class="content text-white">{{ form }} </div>

	</div>
</div>