<div class="user-login-form-wrapper"> 
<h2 class="title-Big">{{ ' Connectez Vous '|t }}<i class="fas fa-level-down-alt"></i></h2>
		<div class="body">
				<div class="content">
						{{ form }}
				</div>
		
		</div>
		
 
</div>

